@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}

header {
  display: flex;
  background-color: #a0a0a0;
  padding: 0.8rem;
  justify-content: space-around;
}

.menu {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}

header img {
  width: 80px;
  height: 80px;
  border: 2px solid #fff;
  -moz-box-shadow: 0 6px 5px #ccc;
  -webkit-box-shadow: 0 6px 5px #ccc;
  box-shadow: 0 6px 5px #ccc;
  -moz-border-radius: 190px;
  -webkit-border-radius: 190px;
  border-radius: 190px;
}

header img,
li {
  cursor: pointer;
  margin: 0 40px 0 40px;
}

header img:hover {
  transform: scale(1.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header ul {
  list-style-type: none;
  font-weight: bold;
  justify-content: space-between;
  gap: 40px;
}

.character-container {
  max-width: 200px;
}

.header-list {
  justify-self: end;
}

.below-image,
.likes,
.reactions,
main {
  display: flex;
}

li,
.fa-heart,
.comment,
.reservation {
  cursor: pointer;
}

li:nth-child(1) {
  text-decoration: underline;
}

.fa-heart {
  margin-top: 15px;
  font-size: 25px;
}

.comment,
.reservation {
  border: 1px solid #1d4f84;
  padding: 3px;
  box-shadow: 4px 4px 0 rgb(2, 2, 2);
}

.fa-heart:hover,
.comment:hover,
.reservation:hover {
  color: blue;
}

main {
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 700px;
  align-items: center;
  margin: 20px  auto;
}

.character {
  width: 200px;
  height: 200px;
}

.below-image {
  padding: 5px;
  justify-content: space-between;
}

.likes,
.reactions {
  flex-direction: column;
  align-items: center;
}

.reactions {
  gap: 10px;
}

footer {
  padding: 2rem;
  background-color: #aba8a8;
  text-align: center;
}
